<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Products</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div th:switch="${products}">
  <h2 th:case="null">No products yet!</h2>
  <h2 th:case="0">No products yet!</h2>
  <div th:case="*">
    <h2>Products</h2>
    <table border="1">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Current Price</th>
        <th>Last Update</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.currentPrice}"></td>
        <td th:text="${product.lastUpdate}"></td>
        <td><a th:href="@{/edit/{id}(id=${product.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${product.id})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/newproduct">Add a new product</a></p>
</div>
</body>
</html>